
@font-face {
  font-family: "aniron";
  src: url("../font/anicm___.ttf");
}

@font-face {
  font-family: "annatar";
  src: url("../font/tngan.ttf");
}

@font-face {
  font-family: "partybusiness";
  src: url(../font/partybusiness.ttf);

}

$main-color: #FF7700;
$background-color: #EDEDED;
$main-font-color: #2B2B2B;
$golden: #FFD700;
$separator: #666666;

@mixin ring($size, $color){
  border-radius: 50%;
  height: $size;
  width: $size;
  background-color: $background-color ;
  box-shadow: $size/50 $size/50 $size/50 darken($color, 10%),
  inset $size/50 $size/50 $size/50 darken($color, 10%);
  border: $size/11 solid $color;
}


body {
  font-family: "anironcregular", Arial, serif;

}

h2 {
  margin: 4vw auto;
}

.row {
  margin: 25px auto;
}


.navbar.navbar-expand-lg {
  background-color: $main-color;
  .nav-link{
    color: white;
    font-size: 17px;
    &:hover{
      color: white;
      text-decoration: underline white;
    }
  }
  .navbar-nav, .nav-item{
    margin-left: auto;
  }
  .fa-bars{
    color: white;
  }
}
section {
  background-color: $background-color;
  color: $main-font-color;
  padding: 15px;
}

footer.row {
  background-color: $main-color;
  margin: 0;
  font-family: party_businessregular, Arial, serif;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
  &:hover{
    color: white;
    text-decoration: underline white;
  }
}

.surrounded-title {
  &:before, &:after{
    content: "";
    display: block;
    margin: 0 10px;
    @include ring(45px, $main-color);
  }
}

.one-ring {
  &:before{
    content: "";
    display: block;
    margin: 0 10px;
    @include ring(150px, $golden);
  }
}

@for $i from 1 through 6 {
  .chained-ring:nth-of-type(#{$i}) {
    @include ring(35px * (1+($i/3)), $separator);
    margin-right: -((35px * (1+($i/2)))*0.35);
  }
}